<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Book Review Blog</title>
  </head>

  <body>
    <h1>Book Review Blog</h1>

    {% block content %}
    <a href="{% url 'new' %}"><button>Create a Post</button></a>
    {% for post in posts %}
    <span>{{ post.created_date }}</span>
    {% if post.img %}
    <img src="{{ post.img.url }}" />
    {% endif %}
    <a href="{% url 'detail' post.pk %}">{{ post.title }}</a>
    <p>{{ post.contents }}</p>
    <a href="{% url 'detail' post.pk %}">Contents</a>
    {% endfor %} {% endblock %}
  </body>
</html>
